@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Mulish", serif;
}

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;



}

.container {
    margin-top: 80px;
    padding: 20px;
    
    border-radius: 10px;


}

input, button {
    padding: 12px;
    font-size: 16px;
    margin-top: 20px;
    width: 80%;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

button {
    background-color: #4c7aaf;
    color: white;
    cursor: pointer;
   
}

#toggleUnits{
    max-width: 100px;
    border-radius: 8px;
    float: right;
}

button:hover {
    background-color: #4595a0;
}

#weatherInfo {
    background-color: #76a0e1;
    border-radius: 8px;
    padding: 15px;
   
      color: #f8f9fa;
}


#weatherIcon {
    width: 90px;
    height: 90px;
    margin-top: 15px;
    display: none;
}
#currentweatherIcon {
    width: 40px;
    height: 40px;  
    display: none;
    
}

#navbarText{
    position: absolute;
    right: 0;
}



.forecast-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;

}

.forecast-item {
    background-color: #739cdb;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 150px;
    color: #f0f8ff;

}
.forecast-item img {
    width: 50px;
    height: 50px;
}

#forecast {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* CSS: Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#weatherInfo, #forecast {
    animation: fadeIn 0.8s ease-in-out;
}

button {
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}




/* Responsive Design */
@media (max-width: 600px) {
    .container {
        margin-top: 20px;
        padding: 15px;
    }

    input, button {
        width: 100%;
        font-size: 14px;
    }

    #weatherInfo {
        padding: 15px;
    }

    #weatherIcon {
        width: 80px;
        height: 80px;
    }
}
